body{
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
}

a, b, blockquote, center, code, div, h1, h2, h3, h4, h5, h6, i, img, p, pre, span, table, td, th, tr, u, video {
    margin: 0;
    padding: 0;
    border: 0;
}

.common-body {
    margin-left: 0px;
    padding-top: 60px;
}

*, ::after, ::before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.common-record {
    cursor: auto;
    line-height: normal;
    position: relative;
}

.common-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;
}

.common-container::after, .common-container::before {
    display: table;
    content: " ";
}

.catalog-slider::after, .catalog-slider::before {
    content: '';
    display: table;
    clear: both;
}

.catalog-col-pic-main-container {
    overflow: hidden;
    position: relative;
}

.common-font-title {
    font-family: 'Montserrat',Arial,sans-serif;
    font-weight: 600;
    color: #000000;
}

.common-font-desc {
    font-family: 'Montserrat',Arial,sans-serif;
    font-weight: 300;
    color: #000000;
}

.container-absolute {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 0px;
    width: 0px;
}